<main class="contenedor py-20">
  <div class="flex flex-col items-center">
    <div
      class="flex items-center gap-2 bg-green-900/10 w-fit px-4 py-2 rounded-full border border-gray-400"
    >
      <lucide-angular [img]="StarIcon" class="my-icon text-green-900"></lucide-angular>
      <h4 class="text-green-900 text-xl font-semibold">Mejores Funcionalidades</h4>
    </div>

    <h1 class="text-center text-4xl font-semibold mt-4 leading-13">
      Soluciones que impulsan la creatividad <br />
      y la productividad 🚀
    </h1>
    <p class="text-center leading-7 font-light mt-4">
      Potencia tu negocio con herramientas diseñadas para optimizar operaciones, <br />
      automatizar procesos y ofrecer resultados más inteligentes.
    </p>
  </div>

  <div class="md: grid md:grid-cols-3 gap-5 mt-15">
    <div class="bg-green-900/5 border border-green-900 p-8 rounded-lg flex flex-col gap-4">
      <div class="bg-green-900 w-18 h-18 rounded-md flex items-center justify-center">
        <img src="/rocket.svg" alt="" />
      </div>

      <h3 class="font-semibold text-2xl">Automatización Inteligente</h3>
      <p>
        Elimina tareas manuales y aumenta la productividad con soluciones que optimizan tus
        operaciones. Mejora la gestión de tus procesos y potencia el crecimiento de tu negocio.
      </p>

      <div class="flex flex-col gap-5">
        <div class="flex gap-3">
          <lucide-angular
            [img]="CircleCheckIcon"
            class="my-icon text-green-900 size-6"
          ></lucide-angular>
          Automatización de Tareas
        </div>
        <div class="flex gap-3">
          <lucide-angular
            [img]="CircleCheckIcon"
            class="my-icon text-green-900 size-6"
          ></lucide-angular>
          Integración Fluida de Procesos
        </div>
        <div class="flex gap-3">
          <lucide-angular
            [img]="CircleCheckIcon"
            class="my-icon text-green-900 size-6"
          ></lucide-angular>
          Eficiencia en Tiempo y Costos
        </div>
        <div class="flex gap-3">
          <lucide-angular
            [img]="CircleCheckIcon"
            class="my-icon text-green-900 size-6"
          ></lucide-angular>
          Soluciones Escalables
        </div>
      </div>
    </div>
    <div
      class="md:col-span-2 bg-green-900/5 border border-green-900 p-7 rounded-lg flex justify-center items-center"
    >
      <img src="/f1.webp" alt="" />
    </div>

    <div
      class="md:col-span-2 bg-green-900/5 border border-green-900 p-7 rounded-lg flex justify-center items-center"
    >
      <img src="/f2.webp" alt="" />
    </div>

    <div class="bg-green-900/5 border border-green-900 p-8 rounded-lg flex flex-col gap-4">
      <div class="bg-green-900 w-18 h-18 rounded-md flex items-center justify-center">
        <img src="/stats.svg" alt="" />
      </div>

      <h3 class="font-semibold text-2xl">Análisis en Tiempo Real</h3>
      <p>
        Toma decisiones basadas en datos con análisis instantáneos. Nuestro sistema procesa grandes
        volúmenes de información al momento, revelando oportunidades clave para tu negocio.
      </p>

      <div class="flex flex-col gap-5">
        <div class="flex gap-3">
          <lucide-angular
            [img]="CircleCheckIcon"
            class="my-icon text-green-900 size-6"
          ></lucide-angular>
          Procesamiento de Datos en Vivo
        </div>
        <div class="flex gap-3">
          <lucide-angular
            [img]="CircleCheckIcon"
            class="my-icon text-green-900 size-6"
          ></lucide-angular>
          Análisis Predictivo
        </div>
        <div class="flex gap-3">
          <lucide-angular
            [img]="CircleCheckIcon"
            class="my-icon text-green-900 size-6"
          ></lucide-angular>
          Alta Disponibilidad y Reportes
        </div>
        <div class="flex gap-3">
          <lucide-angular
            [img]="CircleCheckIcon"
            class="my-icon text-green-900 size-6"
          ></lucide-angular>
          Acceso Remoto sin Interrupciones
        </div>
      </div>
    </div>

    <div class="bg-green-900/5 border border-green-900 p-8 rounded-lg flex flex-col gap-4">
      <div class="bg-green-900 w-18 h-18 rounded-md flex items-center justify-center">
        <img src="/customer.svg" alt="" />
      </div>

      <h3 class="font-semibold text-2xl">Experiencia del Cliente Avanzada</h3>
      <p>
        Ofrece experiencias personalizadas y mejora la conexión con tus clientes. Desde atención
        automatizada hasta comunicación fluida, impulsa la satisfacción y fidelidad en cada
        interacción.
      </p>

      <div class="flex flex-col gap-5">
        <div class="flex gap-3">
          <lucide-angular
            [img]="CircleCheckIcon"
            class="my-icon text-green-900 size-6"
          ></lucide-angular>
          Asistencia Automatizada
        </div>
        <div class="flex gap-3">
          <lucide-angular
            [img]="CircleCheckIcon"
            class="my-icon text-green-900 size-6"
          ></lucide-angular>
          Recomendaciones Personalizadas
        </div>
        <div class="flex gap-3">
          <lucide-angular
            [img]="CircleCheckIcon"
            class="my-icon text-green-900 size-6"
          ></lucide-angular>
          Integración Omnicanal sin Fricciones
        </div>
        <div class="flex gap-3">
          <lucide-angular
            [img]="CircleCheckIcon"
            class="my-icon text-green-900 size-6"
          ></lucide-angular>
          Mejor Experiencia de Usuario
        </div>
      </div>
    </div>
    <div
      class="md:col-span-2 bg-green-900/5 border border-green-900 p-7 rounded-lg flex justify-center items-center"
    >
      <img src="/f3.webp" alt="" />
    </div>
  </div>
</main>
