<main class="contenedor">
  <div class="bg-integration w-full py-20 rounded-xl mt-20">
    <div class="flex flex-col items-center">
      <div class="flex items-center gap-2 w-fit px-4 py-2 rounded-full border border-white">
        <lucide-angular [img]="StarIcon" class="my-icon text-white"></lucide-angular>
        <h4 class="text-white text-xl font-semibold">Mejores Funcionalidades</h4>
      </div>

      <h1 class="text-center text-4xl font-semibold mt-4 leading-13 text-white">
        Soluciones que impulsan la creatividad <br />
        y la productividad 🚀
      </h1>
      <p class="text-center leading-7 font-light mt-4 text-white">
        Potencia tu negocio con herramientas diseñadas para optimizar operaciones, <br />
        automatizar procesos y ofrecer resultados más inteligentes.
      </p>

      <div class="hidden md:flex gap-7 items-center mt-10">
        <img src="/e1.webp" alt="" />
        <img src="/e2.webp" alt="" />
        <img src="/e3.webp" alt="" />
        <img src="/e4.webp" alt="" />
        <img src="/e5.webp" alt="" />
        <img src="/e6.webp" alt="" />
        <img src="/e7.webp" alt="" />

      </div>
      <div class="hidden md:flex gap-7 items-center mt-10">
        <img src="/e1.webp" alt="" />
        <img src="/e2.webp" alt="" />
        <img src="/e3.webp" alt="" />
        <img src="/e4.webp" alt="" />
        <img src="/e5.webp" alt="" />
        <img src="/e6.webp" alt="" />
        <img src="/e7.webp" alt="" />

      </div>
    </div>
  </div>
</main>
