<main class="py-20 bg-img2">
  <div class="contenedor">
    <div class="grid grid-cols-2 gap-15 place-items-center">
      <div>
        <div
          class="flex items-center gap-2  w-fit px-4 py-2 rounded-full border border-gray-400"
        >
          <lucide-angular [img]="StarIcon" class="my-icon text-green-900"></lucide-angular>
          <h4 class="text-green-900 text-xl font-semibold">Impulsando la gestion de plazas</h4>
        </div>
        <h3 class="text-5xl font-bold leading-15 mt-8">
          Diseñado para el <br />
          Crecimiento de tu Plaza
        </h3>
        <p class="mt-7">
          Combinamos experiencia y visión para ofrecer soluciones que transforman la gestión,
          impulsan la productividad y fomentan la innovación en cada espacio.
        </p>

        <div class="flex items-center mt-8">
            <div class="flex items-center gap-5">
                <img src="/ceo2.webp" alt="">
                <div>
                    <h3 class="text-lg font-semibold">Darrell Steward</h3>
                    <p class=" text-gray-500">Clientes que confian</p>
                </div>

            </div>
            <div class="flex items-center ml-10 pl-10  border-l-1 border-l-green-900 gap-5">
                <img src="/ceo2.webp" alt="">
                <div>
                    <h3 class="text-lg font-semibold">Darrell Steward</h3>
                    <p class=" text-gray-500">Director de <br> Recursos Humanos y CTO</p>
                </div>

            </div>
          </div>
          <button class="btn bg-green-900 text-white mt-5 ">
            Registrar Plaza

          </button>
      </div>
      <img src="/ban.webp" alt="">
    </div>

    <div class="grid grid-cols-4 mt-20 border-t border-t-gray-300 pt-15 place-items-center">
        <div  >
            <h1 class="text-6xl font-semibold text-green-900 text-center">50k+</h1>
            <p class="mt-4 text-xl text-center">Clientes Felices</p>
        </div>

        <div class="border-r border-l border-l-gray-300 border-r-gray-300 px-13" >
            <h1 class="text-6xl font-semibold text-green-900 text-center">46.9k</h1>
            <p class="mt-4 text-xl text-center">Plazas Registradas</p>
        </div>

        <div class="border-r  border-r-gray-300 px-13" >
            <h1 class="text-6xl font-semibold text-green-900 text-center">250+</h1>
            <p class="mt-4 text-xl text-center">Miembro de Equipo</p>
        </div>

        <div >
            <h1 class="text-6xl font-semibold text-green-900 text-center">25+</h1>
            <p class="mt-4 text-xl text-center">Años de Experiencia</p>
        </div>

    </div>
  </div>
</main>
