<div class="grid grid-cols-3 mt-5 gap-5">
  <div class="bg-white p-3 rounded-md">
    <h3 class="text-lg font-semibold">Estado Plaza</h3>

    <div role="alert" class="alert alert-error alert-soft mt-2">
      <lucide-angular [img]="Alert" class="my-icon size-5"></lucide-angular>

      <span>Plaza Inactiva. Por favor realizar el pago</span>
    </div>
  </div>

  <div class="stats col-span-2 bg-white shadow w-full">
    <div class="stat">
      <div class="stat-figure text-orange-500">
        <lucide-angular [img]="HeartIcon" class="my-icon size-8"></lucide-angular>
      </div>
      <div class="stat-title">Pagos Registrados</div>
      <div class="stat-value text-orange-500">25.6K</div>
      <div class="stat-desc">21% mas que el mes pasado</div>
    </div>

    <div class="stat">
      <div class="stat-figure text-secondary">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          class="inline-block h-8 w-8 stroke-current"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13 10V3L4 14h7v7l9-11h-7z"
          ></path>
        </svg>
      </div>
      <div class="stat-title">Usuario Activos</div>
      <div class="stat-value text-secondary">88</div>
      <div class="stat-desc">21% mas que el mes pasado</div>
    </div>

    <div class="stat">
      <div class="stat-figure text-secondary">
        <div class="avatar avatar-online">
          <div class="w-16 rounded-full">
            <img src="https://img.daisyui.com/images/profile/demo/anakeen@192.webp" />
          </div>
        </div>
      </div>
      <div class="stat-value">86%</div>
      <div class="stat-title">Tasks done</div>
      <div class="stat-desc text-secondary">31 tasks remaining</div>
    </div>
  </div>
</div>
