<main class="contenedor py-20">
  <div class="grid grid-cols-1 md:grid-cols-5 gap-10">
    <div class="md:col-span-2">
      <img src="/sa1.webp" alt="" />
    </div>
    <div class="md:col-span-3">
      <div class="">
        <div
          class="flex items-center gap-2 bg-green-900/10 w-fit px-4 py-2 rounded-full border border-gray-400"
        >
          <lucide-angular [img]="StarIcon" class="my-icon text-green-900"></lucide-angular>
          <h4 class="text-green-900 text-xl font-semibold">Historias Reales</h4>
        </div>
        <h1 class="font-bold text-4xl leading-12 mt-7">Lo que dicen nuestros usuarios</h1>
        <p class="mt-3">
          Nos enorgullece ofrecer soluciones innovadoras que transforman la manera en que se
          gestionan las plazas. Mejorando la eficiencia, una historia de éxito a la vez.
        </p>

        <div class="carousel w-full mt-10">
          <div id="item1" class="carousel-item w-full">
            <div>
              <p class="text-lg">
                "Desde que implementamos el sistema, la administración de las plazas se volvió mucho
                más sencilla y rápida. Todo está centralizado y organizado."
              </p>
              <div class="flex gap-2 items-center mt-4">
                <img src="/star.svg" class="size-6" alt="" />
                <img src="/star.svg" class="size-6" alt="" />
                <img src="/star.svg" class="size-6" alt="" />
                <img src="/star.svg" class="size-6" alt="" />
                <img src="/star.svg" class="size-6" alt="" />
              </div>

              <div class="flex gap-4 mt-5 items-center">
                <img src="/user.webp" alt="" />
                <div>
                  <h3 class="text-2xl font-bold">Juel Rana</h3>
                  <p>Gestor Corabastos</p>
                </div>
              </div>
            </div>
          </div>
         <div id="item2" class="carousel-item w-full">
            <div>
              <p class="text-lg">
                "Desde que implementamos el sistema, la administración de las plazas se volvió mucho
                más sencilla y rápida. Todo está centralizado y organizado."
              </p>
              <div class="flex gap-2 items-center mt-4">
                <img src="/star.svg" class="size-6" alt="" />
                <img src="/star.svg" class="size-6" alt="" />
                <img src="/star.svg" class="size-6" alt="" />
                <img src="/star.svg" class="size-6" alt="" />
                <img src="/star.svg" class="size-6" alt="" />
              </div>

              <div class="flex gap-4 mt-5 items-center">
                <img src="/user.webp" alt="" />
                <div>
                  <h3 class="text-2xl font-bold">Juel Rana</h3>
                  <p>Gestor Corabastos</p>
                </div>
              </div>
            </div>
          </div>
          <div id="item3" class="carousel-item w-full">
            <div>
              <p class="text-lg">
                "Desde que implementamos el sistema, la administración de las plazas se volvió mucho
                más sencilla y rápida. Todo está centralizado y organizado."
              </p>
              <div class="flex gap-2 items-center mt-4">
                <img src="/star.svg" class="size-6" alt="" />
                <img src="/star.svg" class="size-6" alt="" />
                <img src="/star.svg" class="size-6" alt="" />
                <img src="/star.svg" class="size-6" alt="" />
                <img src="/star.svg" class="size-6" alt="" />
              </div>

              <div class="flex gap-4 mt-5 items-center">
                <img src="/user.webp" alt="" />
                <div>
                  <h3 class="text-2xl font-bold">Juel Rana</h3>
                  <p>Gestor Corabastos</p>
                </div>
              </div>
            </div>
          </div>
          <div id="item4" class="carousel-item w-full">
            <div>
              <p class="text-lg">
                "Desde que implementamos el sistema, la administración de las plazas se volvió mucho
                más sencilla y rápida. Todo está centralizado y organizado."
              </p>
              <div class="flex gap-2 items-center mt-4">
                <img src="/star.svg" class="size-6" alt="" />
                <img src="/star.svg" class="size-6" alt="" />
                <img src="/star.svg" class="size-6" alt="" />
                <img src="/star.svg" class="size-6" alt="" />
                <img src="/star.svg" class="size-6" alt="" />
              </div>

              <div class="flex gap-4 mt-5 items-center">
                <img src="/user.webp" alt="" />
                <div>
                  <h3 class="text-2xl font-bold">Juel Rana</h3>
                  <p>Gestor Corabastos</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex w-full justify-center gap-2 py-2">
          <a href="#item1" class="btn ">1</a>
          <a href="#item2" class="btn ">2</a>
          <a href="#item3" class="btn ">3</a>
          <a href="#item4" class="btn ">4</a>
        </div>
      </div>
    </div>
  </div>
</main>
